<div class = "container">

<h1 class="display-4">
My Recipes
</h1>

<div class = "row">
<% @recipes.each do |recipe| %>
  <% if recipe.user == current_user %>
  <section class="col-lg-3 col-md-6 py-3">
<div class="jumbotron">
<p class = "lead">
<%= link_to recipe.recipe_name,  recipe %>
</p> 
<div>
<%= link_to image_tag(recipe.image , class: 'attachment', style: 'max-height: 90%; max-width: 90%; object-fit: contain', loading: "lazy"), recipe %>
</div>
</div> 
</section>
<% end %>
<% end %>
</div>


<%= link_to 'New Recipe', new_recipe_path , class: 'btn btn-secondary'%>
</div>