<div class = "container">

<h1 class="display-4">
Shared Recipes
</h1>

<div class="row">
<% @recipes.each do |recipe| %>
  
  <% if recipe.isPublic == true %>
  <section class="col-lg-3 col-md-6 py-3">

<div class="jumbotron" style="background: #F7EEF8">
<p class = "lead">
<%= link_to recipe.recipe_name,  recipe %>
</p> 
<div>
<%= link_to image_tag(recipe.image , style: 'max-height: 90%; max-width: 90%; object-fit: contain', loading: "lazy") , recipes_path %>
</div>
</div> 

</section>
<% end %>
<% end %>
</div> 


<%= link_to 'New Recipe', new_recipe_path , class: 'btn btn-secondary'%>
</div>
