<h3>About Page</h3>
<p>
Recipe Hub is a Ruby on Rails application with SQLite3 database, useful for creating and sharing recipes. Users have the option to mark their recipes public for other users to view, or store them privately in their recipe diary. </p>
